body {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 16px;
}

header {
    flex: 0 80px;
    background-color: turquoise;
}

menu > li {
    padding: 8px;
}

main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: black;
}



.box {
    align-items: center;
}

footer {
    flex: 0 30px;
    background-color: black;
    color: white;
}

menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
}


footer a {
    float: right;
    color: black;
}

@media (max-height: 600px) {
    header {
        display: none;
    }
    footer {
        display: none;
    }
    main {
        flex: 1 100vh;
    }
}

.search-wrapper {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

input {
    font-size: 1rem;
}


.hide {
    display: none;
}